* {
    /*-webkit-user-select: none;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    margin: 0px;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-webkit-transition: -webkit-transform .5 linear;*/
    /*-webkit-backface-visibility: hidden;*/
    /*-webkit-perspective: 1000;*/
}
html,body {width: 100%; height: 100%;}

.game {
    background: url("../img/bg.jpg")  center center;
    margin: 0 auto;
    background-size: auto 100%;
    position: relative;
}

.apple{
    /*background: url("../img/green_f.png") no-repeat;*/
    /*position: absolute;*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-property: top;
    /*-webkit-transition-duration: 5ms;*/
    -webkit-transition-timing-function: linear;
    visibility:hidden ;
}

.bug {
    background: url("../img/bug.png") no-repeat;
    position: absolute;
    left: 1px;
    -webkit-transition-property: left;
    /*-webkit-transition-duration: 5ms;*/
    -webkit-transition-timing-function: linear;
}


.mainBar {
    position: absolute;
    border: 1px solid #000;
}

.subBarNormal {
    width: 50%;
    height: 100%;
    float: left;
}

.subBarOverEat {
    width: 50%;
    height: 100%;
    float: right;
}
.nav-left { position: absolute; left: 0; top: 0; background: url("../img/left.png")  no-repeat center center; background-size: 100% auto;}
.nav-right { position: absolute; right: 0; top: 0; background: url("../img/right.png")  no-repeat center center; background-size: 100% auto; }
.redApple { position: absolute; background: url("../img/red_orange.png") no-repeat; background-size: cover;  }
.greenApple {position: absolute; background: url("../img/or1.png") no-repeat;  background-size: cover; }
.yellowApple {position: absolute; background: url("../img/yl1.png") no-repeat;  background-size: cover;}
.purpleApple {position: absolute; background: url("../img/pr1.png") no-repeat;  background-size: cover;}
.msg {
    position: absolute;
    color: green;
    font-weight: bold;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: bottom 2s;
}

.pop-bg {
    background: rgba(64, 64, 64, 0.5);
    position: absolute;
    top: 0;
    right: 0;
}
.box-pop {
    text-align: center;
    position: absolute;
    border-radius: 30px;
    background: #fff;
    opacity: 1;
    margin: 0 auto;

}
.link {
    background: #46a2c9;
    border-radius: 7px;
    padding: 8px;
    box-shadow: 0 0 3px #000;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
.overImg {
    width: auto;
    height: 70%;
}
.playerInfo {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    line-height: 20px;

}
.playerInfo li  {
    vertical-align: middle;
    line-height: 30px;
}
.playerInfo li img {
    vertical-align: middle;
    line-height: 20px;
    margin: 0 0 0 5px;
}
.nextLevel {
    color: #f89122;
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    opacity: 0;
    font-size: 40pt;
    font-weight: bold;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition:opacity 2s;
}


#level {position: absolute; left: 0px; top: 20px;}
#eaten {position: absolute; left: 0px; top: 40px;}
#lifes {position: absolute; left: 0px; top: 60px}


/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Sizes (devices and browser) */
@media only screen and (min-width: 638px) and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 637px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}