*{
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    margin:0px;
    -webkit-transform:translate3d(0,0,0);

}

.game { background: url("../img/bg.jpg") center center; margin: 0 auto; background-size: auto 100%; position: relative;}
.bug { background: url("../img/bug.png") no-repeat; position: absolute; right: 0;
    }

.mainBar { position: absolute; border: 1px solid #000; }
.subBarNormal {width: 50%; height: 100%; float: left;  }
.subBarOverEat {width: 50%; height: 100%; float: right;  }

.redApple {position: absolute; background: red; top: 400px; left: 500px; width: 30px; height: 30px}
.greenApple {position: absolute; background: greenyellow; top: 400px; left: 500px; width: 30px; height: 30px}
.yellowApple {position: absolute; background: yellow; top: 400px; left: 500px; width: 30px; height: 30px}



/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Sizes (devices and browser) */
@media only screen and (min-width: 638px) and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 637px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}