* {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    margin: 0px;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-webkit-transition: -webkit-transform .5 linear;*/
    /*-webkit-backface-visibility: hidden;*/
    /*-webkit-perspective: 1000;*/
}

.game {
    background: url("../img/bg.jpg") center center;
    margin: 0 auto;
    background-size: auto 100%;
    position: relative;
}

.apple{
    /*background: url("../img/green_f.png") no-repeat;*/
    /*position: absolute;*/
    -webkit-transform: translate3d(0, 0, 0);
}

.bug {
    background: url("../img/bug.png") no-repeat;
    position: absolute;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    /*-webkit-transform:scaleX(-1);*/
    /*-webkit-transition-property: left;*/
    /*-webkit-transition-duration: 5ms;*/
    /*-webkit-transition-timing-function: linear;*/
}

.mainBar {
    position: absolute;
    border: 1px solid #000;
}

.subBarNormal {
    width: 50%;
    height: 100%;
    float: left;
}

.subBarOverEat {
    width: 50%;
    height: 100%;
    float: right;
}

.redApple { position: absolute; background: url("../img/red_2.png"); top: 300px; left: 500px; width: 30px; height: 30px; visibility:hidden}
.greenApple {position: absolute; background: url("../img/green_5.png"); top: 300px; left: 500px; width: 30px; height: 30px; visibility:hidden}
.yellowApple {position: absolute; background: url("../img/yellow_2.png"); top: 300px; left: 500px; width: 30px; height: 30px; visibility:hidden}
.purpleApple {position: absolute; background: url("../img/purple_red.png"); top: 300px; left: 500px; width: 30px; height: 30px; visibility:hidden}



/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Sizes (devices and browser) */
@media only screen and (min-width: 638px) and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 637px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}